.AbrilFatface{
   font-family: 'Anton', sans-serif;
}
.detailsBtn{
    background-color:#019add;
    color:#fff;
    padding:10px 5px;
    border: 1px solid #97c138;
}
.cardHeight{
    height: 500px;
}