.loginDetails{
  padding: 90px; 
  border: 1px solid #019add;
  border-radius: 15px;
  background-color: rgb(239, 249, 253);
}
.loginBgImg{
    margin-left: 100px;
}
.ff{
   font-family: 'Anton', sans-serif;
}

.fc{
    color:#019add;
}
.custombtn1:hover{
    background-color: #019add;
    border-radius: 10px;
    
}
.custombtn2:hover{
    background-color: #97c138;
    
    
}
.loginMainDiv{
    background-color: rgb(218, 232, 248);
    padding: 100px;
}